.walrus-showing {
  display: none;
}
p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}
.clickable:hover {
  text-decoration: underline;
}
body {
  background-color:pink
}
.container {
  text-align: center;
  text-decoration-color: black;
  font-size: 300%;
}
span {
  text-decoration-color: black;
}

